{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} GeoSync {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <script src="{% static 'script/script.js' %}" defer></script>
    <script src="https://js.arcgis.com/4.30/"></script>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.30/esri/themes/light/main.css"
    />
  </head>
  <body>
    <div id="container" style="position: sticky; z-index: 50">
      <nav>
        <div id="logo">GeoSync</div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div id="viewDiv"></div>
    {% block content%}{% endblock %}
  </body>
</html>
